:root {
    --dark-color: rgb(1, 44, 77);
    --light-color: rgb(42, 143, 192);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}

.container {
    width: 75%;
    margin: 0 auto;
}

.header {
    color: wheat;
    padding: 3rem;
    font-size: 2rem;
    background-color: var(--dark-color);
    clip-path: polygon(0 0%, 100% 0, 100% 75%, 0% 100%);
}

.main {
    background-color: var(--light-color);
    margin-top: -8rem;
    height: 88vh;
    padding: 10rem 2rem 3rem 2rem; /*top right bottom left*/

}

img {
    width: 350px;
    float: right;
    margin-left: 2rem;
    margin-bottom: 2rem;
}

.text-box {
    text-align: justify;
}

.footer {
    text-align: center;
    background-color: var(--dark-color);
    padding: 2rem;
    color: wheat
}

.social a {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    color: wheat;
    font-size: 1.2rem;
    width: 2.2rem;
    height: 2.2rem;
    transition: 0.4s;
    text-decoration: none;
}

.social a:hover {
    background-color: var(--light-color);
    border-radius: 50%;
    text-decoration: none;
}